body {
  background-color: #141414;
}

.nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  border-bottom: 0.1rem solid #1eff00;
}
.nav a {
  align-self: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 30px;
  color: #797979;
}
.nav .title {
  justify-items: start;
}

.frame {
  width: 100%;
  height: 500px;
  margin: 30px;
  display: flex;
  flex-direction: row;
}
.frame .map {
  padding-right: 200px;
  display: flex;
  justify-self: center;
  width: 60%;
  height: 100%;
  background: #141414;
}
.frame .content {
  width: 10%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.frame .content .text {
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  border-radius: 5px;
  padding: 15px;
  background-color: #141414;
  width: 30%;
  margin: auto;
  border-radius: 4px;
  background: #141414;
  font-family: "Montserrat";
}
.container .form-container {
  border: 0.1rem solid #1eff00;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  display: flex;
}
.container .form-container .input {
  display: flex;
  border: 0.1rem solid #292929;
  height: 50%;
  width: 100%;
  align-self: center;
  border-radius: 4px;
  padding: 12px;
  margin-right: 5%;
  margin-left: 5%;
  color: white;
  outline: none;
  background-color: #202020;
}
.container .form-container .input:hover {
  background-color: #1d1d1d;
}
.container .form-container .sub {
  background-color: #151515;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  margin-right: 5%;
}
.container .form-container .sub:hover {
  background-color: #1d1d1d;
}