body {
  background-color: #141414;
}

.frame {
  width: 100%;
  height: 500px;
  margin: 30px;
  display: flex;
  flex-direction: row;
}
.frame .map {
  padding-right: 200px;
  display: flex;
  justify-self: center;
  width: 60%;
  height: 100%;
  background: #141414;
}
.frame .content {
  width: 10%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.frame .content .text {
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  border-radius: 5px;
  padding: 15px;
  background-color: #141414;
  width: 30%;
  margin: auto;
  border-radius: 4px;
  background: #141414;
  font-family: "Montserrat";
}
.container .form-container {
  border: 1rem solid yellow;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  display: flex;
}
.container .form-container .q {
  align-self: center;
  padding-left: 10px;
  color: #d6d6d6;
  margin-right: 5%;
}
.container .form-container .input {
  width: 100%;
  border-radius: 4px;
  padding: 18px;
  margin-right: 5%;
  color: white;
  outline: none;
  border: none;
  background-color: #141414;
}
.container .form-container .input:hover {
  background-color: #1d1d1d;
}
.container .form-container .sub {
  background-color: #151515;
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
}
.container .form-container .sub:hover {
  background-color: #1d1d1d;
}