* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
}

.container {

    #scene {

        .layer {
            width: 100vw;
            height: 100vh;

            .piece-cesar, .laurier {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }

            .je-suis-cesar {
                position: absolute;
                top: 80px;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }

            .louve {
                position: absolute;
                top: 20%;
                right: 100px;
                width: 300px;
                transform: rotate(30deg);
            }

            .colonne-romaine {
                position: absolute;
                top: 50%;
                left: 200px;
                width: 100px;
                transform: translate3d(0, -50%, 0) rotate(-10deg);
            }
        }
    }
} 